<template>
    <article class="bigone">
        <section class="titre">
            <h2>Carte de la régularité des TER des régions de France</h2>
        </section>
        <section class="selecteur">
            <h4 class="selector">Choix de l'année : </h4>
            <b-form-select @change="onChange($event)" v-model="key" :options="dates"></b-form-select>
        </section>
        <section class="mapinfo">
            <div class="map">
                <radio-svg-map
                        :map="France"
                        @mouseover="pointLocation"
                        @mouseout="unpointLocation"
                        @mousemove="moveOnLocation"
                        @focus="focusLocation"
                />
                <div class="legend">
                    <div>
                        <p>regularité supérieur 95%</p>
                        <div class="square" id="green"></div>
                    </div>
                    <div>
                        <p>regularité  90% entre 95%</p>
                        <div class="square" id="orange"></div>
                    </div>
                    <div>
                        <p>regularité inférieur à 90%</p>
                        <div class="square" id="red"></div>
                    </div>
                </div>
            </div>
            <div class="info">
                <b-list-group v-if="selected !== null">
                    <b-list-group-item>
                        Region selectionnée: {{ selected }}
                    </b-list-group-item>
                    <b-list-group-item>
                        Régularité de la region: {{ regularite }}
                    </b-list-group-item>
                    <b-list-group-item>
                        trains programmés: {{ nbtrain }}
                    </b-list-group-item>
                </b-list-group>
                <canvas id="camembert"></canvas>
            </div>
        </section>
        <div
               id="tooltype" :style="tooltipStyle"
        >
            {{ pointedLocation }}
        </div>
    </article>
</template>

<script>
    import { RadioSvgMap } from "vue-svg-map";
    import France from "@svg-maps/france.regions";
    const axios = require('axios');
    const Chart = require('chart.js');

    France.locations.forEach(function (loc){
       loc.name = loc.name.replace(/ /g,"-");
    });

    let dates = [];
    let annee = 2017;
    for(let i = 0; i<3; i++){
        annee = annee +1;
        for(let j = 1; j<13; j++){
            let val;
            if(j<10){
                val = annee + "-0" + j;
            }else{
                if(!(annee === 2020)){
                    val = annee + "-" + j;
                }
            }
            if(val != null){
                dates.push({text: val, value: val});
            }
        }
    }

    let regularite = { "Île-de-France": ["Pas de TER",0,0,0,0], "Corse": ["Pas de TER",0,0,0,0]};

    export default {
        name: "MyMap",
        components: {
            RadioSvgMap
        },
        data() {
            return {
                France,
                dates,
                tooltipStyle : null,
                pointedLocation: null,
                selected : null,
                regularite: null,
                nbtrain: null,
                nbalheure: null,
                nbannule: null,
                nbenretard: null,
                chart: null,
                key: ""
            };
        },
        mounted: function () {
            this.getDatas('2020-9');
        },
        methods:{
            onChange(event){
                if(event !== '2020-11' && event !== '2020-12' && event !== '2020-10'){
                    this.getDatas(event);
                }
            },
            getDatas(date){
                axios
                    .get('https://data.sncf.com/api/records/1.0/search/?dataset=regularite-mensuelle-ter&q=' + date + '&rows=11&sort=date&facet=date&facet=region')
                    .then(function (response) {
                        response.data.records.forEach(function (rec) {
                            rec.fields.region = rec.fields.region.replace(/ /g,"-");
                            if(rec.fields.region === 'Sud'){
                                rec.fields.region = "Provence-Alpes-Côte-d'Azur"
                            }
                            if(rec.fields.region === 'Centre'){
                                rec.fields.region = 'Centre-Val-de-Loire';
                            }
                            if(rec.fields.region === 'Aquitaine'){
                                rec.fields.region = 'Nouvelle-Aquitaine';
                            }
                            if(rec.fields.region === 'Midi-Pyrénées'){
                                rec.fields.region = 'Occitanie';
                            }
                            regularite[rec.fields.region] = [rec.fields.taux_de_ponctualite,
                                rec.fields.nombre_de_trains_programmes,
                                rec.fields.nombre_de_trains_ayant_circule,
                                rec.fields.nombre_de_trains_annules,
                                rec.fields.nombre_de_trains_en_retard_a_l_arrivee
                            ];
                        });
                        France.locations.forEach(function (loc) {
                            response.data.records.forEach(function (rec) {
                                if(loc.name === rec.fields.region) {
                                    loc.id = rec.fields.region;
                                }
                                if(loc.name === "Île-de-France" || loc.name === "Corse"){
                                    loc.id = loc.name;
                                }
                            });
                        });
                    })
                    .then(this.coloration)
            },
            coloration(){
                France.locations.forEach(function (loc) {
                    if(loc.id === "Île-de-France" || loc.id === "Corse"){
                        loc.name = 'black';
                    }else{
                        if(regularite[loc.id][0] > 95){
                            loc.name = 'green';
                        }else if(regularite[loc.id][0] > 90 && regularite[loc.id][0] <= 95){
                            loc.name = 'orange';
                        }else{
                            loc.name = 'red';
                        }
                    }
                });
            },
            makePie(event){
                let datas = [regularite[event.target.id][2],regularite[event.target.id][3],regularite[event.target.id][4]];
                this.updateDataviz(datas);
            },
            pointLocation(event) {
                this.pointedLocation = event.target.id;
            },
            unpointLocation() {
                this.pointedLocation = null;
                this.tooltipStyle = { display: 'none' }
            },
            moveOnLocation(event) {
                this.tooltipStyle = {
                    display: 'block',
                    position: 'absolute',
                    borderRadius: '5px',
                    top: `${event.pageY -150 }px`,
                    left: `${event.pageX -150 }px`,
                    color: 'white',
                    padding : '10px'
                }
            },
            focusLocation(event) {
                this.selected = event.target.id;
                this.regularite = regularite[event.target.id][0]
                if(!(event.target.id === "Île-de-France" || event.target.id === "Corse")){
                    this.regularite = this.regularite + "%";
                }
                this.nbtrain = regularite[event.target.id][1];
                this.nbalheure = regularite[event.target.id][2];
                this.nbannule = regularite[event.target.id][3];
                this.nbenretard = regularite[event.target.id][4];
                this.makePie(event);
            },
            updateDataviz(datas) {
                this.initDataviz();
                this.removeData(this.chart);
                this.addData(this.chart,datas)
            },
            addData(chart, datas) {
                chart.data.datasets.forEach((dataset) => {
                    datas.forEach((data) => {
                        dataset.data.push(data);
                    })
                });
                chart.update();
            },
            removeData(chart) {
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.length = 0;
                });
                chart.update();
            },
            initDataviz() {
                if (this.chart === null) {
                    this.chart = new Chart(document.getElementById('camembert').getContext('2d'), {
                        type: 'pie',
                        data: {
                            labels: ["trains à l'heure", "trains annulés", "trains en retard"],
                            datasets: [{
                                backgroundColor: [
                                    '#32CD32',
                                    'rgb(196,63,63)',
                                    '#FADF4A'
                                ],
                                data: []
                            }]
                        }
                    })
                }
            }
        }
    };
</script>
<style>
    .selector{
        display: inline;
    }
    .svg-map {
        width: 50%;
        height: auto;
        stroke: black;
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    [name=red]:focus, [name=red]:hover {
        fill: darkred;
        outline: 0;
    }
    [name=orange]:focus, [name=orange]:hover {
        fill: gold;
        outline: 0;
    }
    [name=green]:focus, [name=green]:hover {
        fill: darkgreen;
        outline: 0;
    }
    [name=black]:focus, [name=black]:hover {
        outline: 0;
    }
    [name=red]{
        fill: rgb(196,63,63);
    }
    [name=green]{
        fill: #32CD32;
    }
    [name=orange]{
        fill: #FADF4A;
    }
    [name=black]{
        fill: gray;
    }
    .bigone{
        position: relative;
    }
    #tooltype{
        background: #5A7DF5;
    }
    .mapinfo{
        display: grid;
        grid-template-columns: 66% 33%;
        height: auto;
    }
    .map{
        grid-column: 1;
    }
    .info{
        grid-column: 2;
    }
    .legend{
        display: grid;
        grid-template-columns: repeat(3,30%);
    }
    .square{
        width: 3em;
        height: 3em;
        display: inline-block;
        border: solid 2px black;
    }
    #red{
        background-color: rgb(196,63,63);
    }
    #green{
        background-color: #32CD32;
    }
    #orange{
        background-color: #FADF4A;
    }

</style>