<template>
  <section>
    <h1>Perturbations des TGV</h1>
    <form onsubmit="event.preventDefault()">
      <label> Afficher
        <input @change="fetchRecords" id="months" type="number" v-model="months" value="6" /> mois
      </label>
      <label>jusqu'au
        <input @change="fetchRecords" type="month" v-model="from" :max="lastRecord"/>
      </label>
    </form>
    <form>
      <label> Gare de départ
        <select @change="fetchArrivalStations" v-model="departure">
          <option selected value=""></option>
          <option :value="station"
              v-for="station in departureStations"
              :key="departureStations.indexOf(station)">
            {{ station }}
          </option>
        </select>
      </label>
    </form>
    <form onsubmit="event.preventDefault()">
      <label> Gare d'arrivée
        <select :disabled="departure === ''" @change="fetchRecords" v-model="arrival">
          <option selected value=""></option>
          <option :value="station"
                  v-for="station in arrivalStations"
                  :key="arrivalStations.indexOf(station)"
          >
            {{ station }}
          </option>
        </select>
      </label>
    </form>
    <div>
      <canvas id="dataviz"></canvas>
    </div>
  </section>
</template>

<script>
const axios = require('axios');
const Chart = require('chart.js');
const dayjs = require('dayjs');
dayjs.locale('fr');

export default {
  name: "infoTGV",
  data() {
    return {
      departureStations: [],
      arrivalStations: [],
      departure: "",
      arrival: "",
      records: [],
      chart: undefined,
      months: 6,
      from: dayjs(Date.now()).format("YYYY-MM"),
      lastRecord: undefined
    }
  },
  mounted() {
    this.fetchLastRecord();
    this.fetchDepartureStations();
    this.initDataviz();
  },
  methods: {
    fetchDepartureStations() {
      const uri = `https://data.sncf.com/api/records/1.0/search/?dataset=regularite-mensuelle-tgv-aqst&q=&rows=0&sort=periode&facet=gare_de_depart_en_majuscules_sans_espaces_si_tiret`
      axios.get(uri)
      .then(response => {
        response.data.facet_groups[0]['facets'].forEach(entry => {
          this.departureStations.push(entry['name']);
        });
      });
    },
    fetchArrivalStations() {
      const uri = `https://data.sncf.com/api/records/1.0/search/?dataset=regularite-mensuelle-tgv-aqst&q=&rows=0&sort=periode&facet=gare_d_arrivee_en_majuscules_sans_espaces_si_tiret&refine.gare_de_depart_en_majuscules_sans_espaces_si_tiret=${this.departure}`;
      axios.get(uri)
      .then(response => {
        response.data.facet_groups[1]['facets'].forEach(entry => {
          this.arrivalStations.push(entry['name']);
        });
      });
    },
    fetchRecords() {
      const start = -1 * dayjs(this.from).diff(this.lastRecord, "month");
      const uri = `https://data.sncf.com/api/records/1.0/search/?dataset=regularite-mensuelle-tgv-aqst&q=&start=${start}&rows=${this.months}&sort=periode&facet=service_international_tgv&facet=gare_de_depart_en_majuscules_sans_espaces_si_tiret&facet=gare_d_arrivee_en_majuscules_sans_espaces_si_tiret&facet=periode&refine.gare_de_depart_en_majuscules_sans_espaces_si_tiret=${this.departure.replace(' ', '+')}&refine.gare_d_arrivee_en_majuscules_sans_espaces_si_tiret=${this.arrival.replace(' ', '+')}`
      axios.get(uri)
      .then(response => {
        this.records = response.data.records;
        this.updateDataviz();
      });
    },
    fetchLastRecord() {
      const uri = `https://data.sncf.com/api/records/1.0/search/?dataset=regularite-mensuelle-tgv-aqst&q=&start=0&rows=1&sort=periode&facet=periode`;
      axios.get(uri)
      .then(response => {
        const last = dayjs(response.data.records[0].fields.periode).format('YYYY-MM');
        this.lastRecord = last;
        this.from = last;
      });
    },
    updateDataviz() {
      this.removeData(this.chart);
      this.records.reverse();
      this.records.forEach(record => {
        const data = [record.fields.nombre_de_circulations_prevues
        , record.fields.nombre_de_trains_annules
        , record.fields.nombre_de_trains_en_retard_a_l_arrivee];
        const label = record.fields.periode;
        this.addData(this.chart, label, data);
      })
    },
    addData(chart, label, data) {
      chart.data.labels.push(label);
      chart.data.datasets.forEach((dataset, key) => {
        dataset.data.push(data[key]);
      });
      chart.update();
    },
    removeData(chart) {
      chart.data.labels.length = 0;
      chart.data.datasets.forEach((dataset) => {
        dataset.data.length = 0;
      });
      chart.update();
    },
    initDataviz() {
      if (this.chart === undefined) {
        this.chart = new Chart(document.getElementById('dataviz').getContext('2d'), {
          type: 'bar',
          data: {
            labels: [],
            datasets: [{
              label: "Circulation prévue",
              backgroundColor: "rgb(63,119,196)",
              data: []
            },{
              label: "Trains annulés",
              backgroundColor: "rgb(196,63,63)",
              data: []
            },{
              label: "Trains en retard",
              backgroundColor: "rgb(196,110,63)",
              data: []
            }]
          }
        })
      }
    }
  }
}
</script>

<style scoped>
section {
  min-height: auto;
  width: auto;
}

#months {
  width: 3em;
}

div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
form {
  margin: 1em;
}
label {
  padding-left: 0.2em;
}
</style>