<template>
  <article>
    <h1>Tchou-Tchou Retards</h1>
    <blockquote>
      L'application qui vous informe du passé de la SNCF
    </blockquote>
    <section>
      <p>
        Vous retrouverez les informations sur les TER et TGV dans leur partie respective. Chacune d'elle vous permet d'explorer
        les données publiques de la SNCF à partir 2017/2018.
      </p>
      <p>
        Notez que nous traitons les données uniquement depuis la réforme territoriale sur les régions et que les données
        dépendent uniquement des serveurs de la SNCF.
      </p>
      <p>
        Notre application n'est qu'un client accédant à l'API selon vos demandes. Il se peut que certaines données soient
        manquantes, cela est dû aux inconsistances de l'API.
      </p>
    </section>
  </article>
</template>

<script>
export default {
  name: 'Welcome'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
