<template>
  <div id="app">
    <div>
      <b-navbar toggleable="lg" type="light" variant="white">
        <b-navbar-brand>
          <img src="~@/assets/train2.gif" alt="Train">
        </b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item :active='$route.name === "accueil"' to="/">Accueil</b-nav-item>
            <b-nav-item :active='$route.name === "map"' to="/francemap">TER</b-nav-item>
            <b-nav-item :active='$route.name === "tgv"' to="/infotgv">TGV</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div id="component">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  body{
    /*background: linear-gradient(#5A7DF5, #2D0E75);*/
    background-image: url("~@/assets/Gare_de_Bayeux,_direction_de_Caen.jpg");
    width: 100%;
    min-height:100vh;
    background-size: cover;
  }
  #component{
    background-color: rgba(255,255,255,0.9);
    margin: 5%;
    padding: 1em;
    border-radius: 10px;
  }
  a {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
  }
  a:hover:not(.active) {
    border: 2px solid #A00A0A;
    border-radius: 5px;
  }
  a.active {
    border-bottom: 2px solid #A00A0A;
    border-radius: 0;
  }
  .navbar-brand img {
    height: 3em;
    width: auto;
  }
</style>
